name: Java_CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          #https://github.com/actions/setup-java#supported-distributions
          distribution: temurin
          java-version: 8.0.382+5
    - name: Build with Maven
      run: mvn -B package --file pom.xml
